{% extends 'layouts/base-fullscreen.html' %}

{% block title %} About US {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} about-us {% endblock body_class %}

{% block content %}

  {% include "includes/navigation.html" %}

  <!-- End Navbar -->
  <!-- -------- START HEADER 7 w/ text and video ------- -->
  <header class="bg-gradient-dark">
    <div class="page-header section-height-75" style="background-image: url('/static/assets/img/coleccion-objetos-kawaii-dibujada-mano_23-2149400773.avif');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
            <h1 class="text-pink">OnlyCats</h1>
            <p class="lead mb-4 opacity-8">GATITOS KAWAICHUS</p>
            <h6 class="mb-2 mt-5">NOSEEEEEEE</h6>
            <div class="d-flex justify-content-center">
              <a href=""><i class="fab fa-facebook text-lg  me-4"></i></a> <!--aca van los iconos de redes sociales-->
              <a href=""><i class="fab fa-instagram text-lg  me-4"></i></a>
              <a href=""><i class="fab fa-twitter text-lg me-4"></i></a>
              <a href=""><i class="fab fa-google-plus text-lg"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="position-absolute w-100 z-index-1 bottom-0">  
      </div>
    </div>
  </header>
  <!-- -------- END HEADER 7 w/ text and video ------- -->
  <section class="pt-sm-8 pb-5 position-relative bg-gradient-light overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-left mb-5 mt-5">
          <h3 class="z-index-1 position-relative">Nuestro Team</h3>
          <p class="opacity-8 mb-0">cuenta con profesionales en michi cuidados</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="card card-profile text-white bg-gradient-dark overflow-hidden">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12 pe-lg-0">
                <a href="javascript:;">
                  <div class="p-3 pe-0">
                    <img class="w-100 border-radius-md" src="/static/assets/img/hogs_rojo.png">
                  </div>
                </a>
              </div>
              <div class="col-lg-8 col-md-6 col-12 ps-lg-0 my-auto">
                <div class="card-body">
                  <h5 class="mb-0 text-white">Emma Ghazarian</h5>
                  <h6 class="text-info">Michi Tanke</h6>
                  <p class="mb-0 text-white">le gusta tatuar.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="card card-profile mt-lg-0 mt-5 overflow-hidden">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12 pe-lg-0">
                <a href="javascript:;">
                  <div class="p-3 pe-0">
                    <img class="w-100 border-radius-md" src="/static/assets/img/hogs_azul.png">
                  </div>
                </a>
              </div>
              <div class="col-lg-8 col-md-6 col-12 ps-lg-0 my-auto">
                <div class="card-body">
                  <h5 class="mb-0">Nestios</h5>
                  <h6 class="text-info">Boss</h6>
                  <p>le gusta ay no se.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-6 col-12">
          <div class="card card-profile overflow-hidden z-index-2">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12 pe-lg-0">
                <a href="javascript:;">
                  <div class="p-3 pe-0">
                    <img class="w-100 border-radius-md" src="/static/assets/img/hogs_verde.png">
                  </div>
                </a>
              </div>
              <div class="col-lg-8 col-md-6 col-12 ps-lg-0 my-auto">
                <div class="card-body">
                  <h5 class="mb-0">MELCHUS</h5>
                  <h6 class="text-info">Support</h6>
                  <p>LE GUSTA TEJER.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="card card-profile mt-lg-0 mt-5 overflow-hidden z-index-2">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12 pe-lg-0">
                <a href="javascript:;">
                  <div class="p-3 pe-0">
                    <img class="w-100 border-radius-md" src="/static/assets/img/hogs_marron.png">
                  </div>
                </a>
              </div>
              <div class="col-lg-8 col-md-6 col-12 ps-lg-0 my-auto">
                <div class="card-body">
                  <h5 class="mb-0">Sophia Garcia</h5>
                  <h6 class="text-info">NO SABEMOS</h6>
                  <p>PERSONAJE PENDEINTE</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="position-absolute w-100 bottom-0">
      <svg width="100%" viewBox="0 -1 1920 166" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>HOLAAAAAA</title>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Artboard" transform="translate(0.000000, 5.000000)" fill="#FFFFFF" fill-rule="nonzero">
            <g id="wave-up" transform="translate(0.000000, -5.000000)">
              <path d="M0,70 C298.666667,105.333333 618.666667,95 960,39 C1301.33333,-17 1621.33333,-11.3333333 1920,56 L1920,165 L0,165 L0,70 Z" id="Path" fill="#f8f9fa"></path>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </section>
  <!-- -------- PRE-FOOTER BOTON SUBSCRIBIR Y IMAGENES------- -->
  <section class="my-5 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto">
          <h4>OnlyCats Friends</h4>
          <p class="mb-4">
            En OnlyCats nos comprometemos a ayudar a los gatitos, suscribete recibe regalos mensuales por tu aporte.
          </p>
          <div class="row">
            <div class="col-8">
              <div class="input-group">
                <input type="text" class="form-control mb-sm-0" placeholder="INSERTE SU MICHImail AQUI...">
              </div>
            </div>
            <div class="col-4 ps-0">
              <button type="button" class="btn bg-gradient-info mb-0 h-100 position-relative z-index-2">Subscribete</button>
            </div>
          </div>
        </div>
        <div class="col-md-5 ms-auto">
          <div class="position-relative">
            <img class="max-width-50 w-100 position-relative z-index-2" src="/static/assets/img/illustrations/1a101875d7b85beec07509af1180a8bf.jpg">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
