<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">



      <nav
        class="navbar navbar-expand-lg  blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid">
            
            <div class="avatar-group">
              <a class="avatar avatar-lg rounded-circle" data-bs-toggle="tooltip">
                <img src="/static/assets/img/gato2.jpeg">
              </a>
            </div>

            <a class="navbar-brand font-weight-bolder ms-sm-3" href="/" rel="tooltip" data-placement="bottom">
              ONLYCATS
            </a>
          
          <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-lg-12 ps-lg-5 w-100">


              <li class="nav-item dropdown dropdown-hover mx-2">
                <a href="/index.html"class="navbar-brand font-weight-bolder ms-sm-3">
                  Home
                </a>
              </li>

                <li class="nav-item dropdown dropdown-hover mx-2">
                  <a href="/page_about_us.html" class="navbar-brand font-weight-bolder ms-sm-3">
                    About us
                  </a>
                </li>

             <li class="nav-item dropdown dropdown-hover mx-2">
                  <a href="/page_contact_us.html" class="navbar-brand font-weight-bolder ms-sm-3">
                    contact us
                  </a>
                </li>

              <li class="nav-item dropdown dropdown-hover mx-2">
                  <a href="/page_sign_in.html" class="navbar-brand font-weight-bolder ms-sm-3">
                    Sign In
                    <img src="">
                  </a>
              </li>
              
              <li class="nav-item dropdown dropdown-hover mx-2">
                  <a href=""class="navbar-brand font-weight-bolder ms-sm-3">
                    shop
                  </a>
              </li>
              <li class="nav-item dropdown dropdown-hover mx-2">
                <a href="/page_sign_up.html"class="navbar-brand font-weight-bolder ms-sm-3">
                  sing up
                </a>
            </li>
      
            </ul>
          </div>


        </div>
      </nav>
      <!-- End Navbar -->



    </div>
  </div>
</div>